.card {
    background-color: #f2f2f2 !important;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.199);
    border-radius: 14px !important;
    border-width: 5px !important;
    margin-bottom: 30px;
    transition: box-shadow 100ms ease-in-out, color 100ms ease-in-out;
}

.card:hover {
    transform: translateY(-6px);
    cursor: pointer;
}

.topCard {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}

.nome {
    font-weight: bold;
    text-transform: capitalize;
    padding-block: 4px;
    padding-inline: 10px;
    overflow: hidden;
}

.id {
    font-style: italic;
    font-weight: bolder;
    border-radius: 0 0px 0 14px;
    padding-block: 4px;
    padding-inline: 10px;
}

.tipos {
    text-align: center;
    text-transform: uppercase;
}

.tipo {
    margin-inline: 4px;
    padding: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.219);
    border-radius: 10px;
    font-weight: bolder;
}

.cardNCarregado {
    text-align: center;
}

.cardNCarregado img {
    text-align: center;
}