#specs {
    height: 100vh;
}

.infoSpecs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.infoCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.habilidade {
    
}