.pokedex-contact {
    margin: auto;
}

.pokedex-contact-container {
    display: flex;
    align-items: center;
}

.pokedex-contact-link {
    margin: 0 0 0 4px;
    font-size: 14px;
    font-weight: 700;
    color: #f2f2f2;
}

.logo {
    margin-right: 20px;
}
